{% extends 'aindx.html' %}
{% block cnt %}
<div class="card-block table-border-style">
    <div class="table-responsive">
        <center><h4>Approved Psychologists</h4></center>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Qualification</th>
                    <th>Experience</th>
                    <th>Gender</th>
                    <th>Proof</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for i in inf %}
                <tr class="bg-info">
                    <!--<th scope="row"></th>-->
                    <td>{{i.pname}}</td>
                    <td>{{i.pmail}}</td>
                    <td>{{i.pqual}}</td>
                    <td>{{i.pexp}}</td>
                    <td>{{i.pgen}}</td>
                    <td><img src='{{i.pprf.url}}' height='60px' width="auto"></td>
                    <td>{{i.ppsw}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
